-
  var categoryList = data.category

//- pre= JSON.stringify(categoryList, null, 2)

nav.top-menu
  each thisIsARandomName in categoryList
    .top-menu__link(title=thisIsARandomName.title)= thisIsARandomName.label

