extends ../../_component/layout/layout

block great-content
  h1 this is the intro everyone needs 

  p Once upon a time there was an intro. This intro was extremely happy, and he got his happy boost from every starter Intro could help right away.
