extends ../../_component/layout/layout

//- if we care about Search Engine Optimization
block config
  -
    var title = 'Come home HTML, we miss you'
    var description  = 'HTML use to play on those fields when he was very young and energic'

block great-content
  h1 this is the home of HTML 
  p HTML was very sad as he always dreamed of living in his own home. So he starter to look around for places to live in the famouse and busy Tag town.

